.slotElement {
  height: 40px;
  width: 40px;
  position: relative;
  border: 2px dashed #141414;
  user-select: none;

  &.canDrop {
    background-color: rgba(140, 207, 127, 0.3);
  }

  &.allowedDropzone {
    background-color: rgba(255, 255, 88, 0.1);
  }

  .dragContainer {
    position: relative;
    cursor: grab;
    width: 100%;
    height: 100%;

    &.isNotDraggable {
      cursor: auto;
    }

    &.isDragging {
      opacity: 0.6;
      cursor: grabbing;
    }
  }

  .itemElement {
    padding: 0px;
    width: 36px;
    height: 36px;

    img {
      width: 36px;
      height: 36px;
    }
  }

  .itemSlot {
    height: 36px;
  }
}
